.TipWindow {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.container {
    text-align: center;
    width: 90%;
    padding: 0.1rem;
    margin: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0.3rem;
    background-color: #f9f9f9;
}

.bill-amount {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: help;
    user-select: none;
}

.bill-amount-edit-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.3rem;
}

.bill-amount-edit-wrapper .bill-amount-edit {
    width: 5rem;
}